
body {
    background-color: whitesmoke;
}


#calculator-border {
    border-color: black;
    border-style: solid;
    border-radius: 1px;
    height: auto;
    width: 500px;
    margin: auto;
    margin-top: 200px;
}

.display {
    border-style: solid;
    background-color: gray;
    border-width: 0.1px;
    border-color: black;
    margin: 40px;
    height: 100px;
    font-size: 300%;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
}

#upperDisplay {
    height: 50px;
}

.button-area {
    padding: 10px;
    background-color: white;
    font-size: 300%;

}

.buttonRows#first-row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;
}

#clear{
    text-align: center;
    padding: 10px;
}

#delete {
    font-size: 75%;
    text-align: center;
    line-height: 50px;
}

.buttonRows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    border-color: black;
    border-style: solid;
    border-radius: 1px;
    height: auto;
    width: 100px;
    margin: 5px;
    text-align: center;
    padding: 10px;
}